
results/
config/
vfm/
*.pt
*.ckpt
*.h5
*.model

*.log
logs/

__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp

venv/
env/
condaenv/
# 
.idea/
.vscode/
*.swp
*.swo
# 
data/raw/
*.zip
*.tar.gz
# 
.DS_Store
Thumbs.db